<div id="footer">
  <div class="container">
    <div class="footer-cols">
      <div class="footer-col">
        <h6>{{ site.autore.nome }}</h6>
        {{ site.autore.ruolo }}<br>
        <a href="mailto:{{ site.autore.email }}">{{ site.autore.email }}</a>
      </div>
      <div class="footer-col">
        <h6>Sezioni</h6>
        <a href="/pages/grest.html">FI23 · Oratorio &amp; Grest</a><br>
        <a href="/pages/mangia-libri.html">FI23 · Mangia Libri</a><br>
        <a href="/pages/portfolio.html">Grafica · Portfolio</a><br>
        <a href="/pages/progetti.html">Progetti pubblici</a>
      </div>
    </div>
    <div class="footer-bottom">
      &copy; {{ 'now' | date: "%Y" }} {{ site.autore.nome }} &mdash; Ufficio Digitale
    </div>
  </div>
</div>
